<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147460607214-tm46ie693a6t27m1d6loqqvtn8rms26i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147460607214-tm46ie693a6t27m1d6loqqvtn8rms26i</string>
	<key>API_KEY</key>
	<string>AIzaSyDvGCFgpQehT13PBanCTfSm73zUvXwpEOk</string>
	<key>GCM_SENDER_ID</key>
	<string>147460607214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bynarr.nursing-home</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-b18f6</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-b18f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147460607214:ios:4b61142582ea80af74b7ff</string>
</dict>
</plist>